/*

  Author		Ulises Rodríguez
  Site:			http://www.ulisesrodriguez.com	
  Twitter:		https://twitter.com/#!/isc_ulises
  Facebook:		http://www.facebook.com/ISC.Ulises
  Github:		https://github.com/ulisesrodriguez
  Email:		ing.ulisesrodriguez@gmail.com
  Skype:		systemonlinesoftware
  Location:		Guadalajara Jalisco Mexíco

  	
*/
.error{
	color: #B70004;
}

.searchclicked{
	color:#000;
}
#periodo-links a {
  color: #0088cc;
  text-decoration: none;
}
#periodo-links a:hover {
  color: #005580;
  text-decoration: underline;
}

.uppercase{
  text-transform: uppercase;
}