/* CSS Document */
/*

  Author		Ulises Rodríguez
  Site:			http://www.ulisesrodriguez.com	
  Twitter:		https://twitter.com/#!/isc_ulises
  Facebook:		http://www.facebook.com/ISC.Ulises
  Github:		https://github.com/ulisesrodriguez
  Email:		ing.ulisesrodriguez@gmail.com
  Skype:		systemonlinesoftware
  Location:		Guadalajara Jalisco Mexíco

*/
.navbar {
	display: none;
}
.sidebar-nav {
	display: none;
}
#vida, #gmm, #meta-intro {
	display: none;
}
footer {
	display: none
}
.table tr th, tr td {
	font-size: 10px;
}
